[user]
	name = Marc Demierre
	email = marc.demierre@gmail.com
[push]
	default = simple
[core]
	autocrlf = input
    excludesfile = ~/.dotfiles/git/gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
    required = true
[init]
    templatedir = ~/.dotfiles/git/git_template

